@model IEnumerable<volgaHack.ViewModels.ApplicationViewModel>

<div class="container">
    <div class="row">
        <div hidden class="col">

        </div>
        <div hidden class="col order-5">

        </div>
        <div class="col order-1" style=" margin-top: 50px;">
            <div class="col">
                <a asp-action="Create" asp-controller="Application" class="btn btn-outline-dark">Создать приложение</a>
            </div><br/>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название приложения</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Дата создания</th>
                            <th scope="col"> </th>
                            <th scope="col"> </th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    @if (@User.IsInRole("user"))
                    {
                        <tbody>
                            @foreach (var app in Model)
                            {

                            <tr>

                                <td scope="row"></td>
                                <td>@app.Name</td>
                                <td>@app.Description</td>
                                <td>@app.DateCreatedApp</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Application" asp-route-id="@app.Id" class="btn btn-outline-info">Редактировать</a>
                                </td>

                                <td>

                                    <form method="post" asp-action="Delete" asp-controller="Application" asp-route-id="@app.Id">
                                        <input type="submit" class="btn btn-outline-danger" value="Удалить" />
                                    </form>
                                </td>
                                <td>
                                    <a asp-action="EventList" asp-controller="Event" asp-route-id="@app.Id" class="btn btn-outline-info">Cобытия</a>
                                </td>
                                <td>
                                    <a asp-action="Index" asp-controller="Statistic" asp-route-id="@app.Id" class="btn btn-outline-info">Статистика</a>
                                </td>
                            </tr>

                            }
                        </tbody>
                    }



                </table>

            </div>
        </div>
</div>